@use '../Card.module.scss';
@use '../../GlobalStyles/MediaQuery.scss';

//--------------------------------------
.detail {
    margin-left: 2rem;
}

.topic {
    position: relative;
    color: black;
    text-transform: uppercase;
    margin-right: 1.6rem;

    &:hover {
        text-shadow: -.06ex 0 currentColor,.06ex 0 currentColor;
    }

    &::after {
        content: "";
        @include Card.dot()
    }
}
//--------------------------------------
.desc {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    max-height: 4rem;
    font-size: 1.4rem;
}

.desc.desc-sm {
    -webkit-line-clamp: 1;
}

.desc-sm {
    font-size: 1.2rem;
}

//--------------------------------------
// responsive
@include MediaQuery.desktop {
    .thumbnail.trending {
        width: 80%;
    }
}

@include MediaQuery.tablet {
    .topic {
        display: none;
    }

    .desc.desc-sm {
        display: none;
    }

    .thumbnail {
        width: 30%;
    }

    .detail {
        flex: 1;
    }

    .detailContent {
        margin: 0.4rem 0 0.8rem;
    }
}

@include MediaQuery.mobile {
    .wrapper {
        flex-direction: column;
    }

    .wrapper.trending {
        flex-direction: row;
    }

    .thumbnail.trending {
        width: 24%;
    }

    .detail {
        margin-left: 0;
        flex: 1;
    }

    .detail.trending {
        margin-left: 2rem;
    }

    .topic {
        display: none;
    }

    .desc.desc-sm {
        display: none;
    }
}

.trending {
    
}

