.scrollBtn {
    position: fixed;
    bottom: 5.2rem;
    right: 5.6rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--blue-light);
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s ease-in;
    cursor: pointer;    
}
