@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --white-border: #c4c4c4;
    --brand-blue: #3398d4;
    --blue-light: #2fb5fa;
    --blue-dark: #258cc7;
    --blue-darker: #2e89bf;

    --navbar-height: 7.2rem;
    --navbar-bottom-height: 5.6rem;
    --padding-8: 0 0.8rem;
    --padding-16: 0 1.6rem;
    --font-size: 1.6rem;
    --font-size-mobile: 1.4rem;
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

.pad-8 {
    padding: 0 .8rem;
}

.pad-16 {
    padding: 0 1.6rem;
}