@use '../GlobalStyles/MediaQuery';

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: var(--line-height);

    font-size: var(--font-size);
    font-weight: 400;
    border: 1px solid transparent;
    background-color: var(--white);
    cursor: pointer;

    @include MediaQuery.mobile {
        font-size: var(--font-size-mobile);
    }
}

// button styles
.primary {
    color: var(--white);
    background-color: var(--brand-blue);

    &:hover {
        background-color: var(--blue-darker);
    }
}

.outline {
    border-color: var(--white-border);
}

.textStyle {
    border: none;
}

.semiSquares {
    border-radius: 0.3rem;
}

.rounded {
    border-radius: 100rem;
}

.circle {
    border-radius: 50%;
}

// button size
.small {
    font-size: calc(var(--font-size) - 0.4rem);
    padding: 0.8rem 1.2rem;
}

.medium {
    font-size: calc(var(--font-size) - 0.2rem);
    padding: 0.8rem 1.6rem;
}

.large {
    padding: 0.8rem 2.4rem;    
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}