@use '../../GlobalStyles/MediaQuery.scss';
@use '../Card.module.scss';

.detail {
    flex: 1;
}

.footerLeft img {
    width: Card.$avatar-vCard;
    height: Card.$avatar-vCard;
}

@include MediaQuery.mobile {
    
    .thumbnail {
        width: 24%;
    }    
}
